body{
    font-family: Arial, sans-serif;
    background-color: rgb(248, 244, 244);
    margin: 0;
    padding: 0;
    font-weight: bold;
    background: linear-gradient(
  105deg,
  hsl(220, 90%, 56%),
  hsl(270, 80%,80%),
  hsl(320, 70%, 64%));
   
    
   
    background-repeat: no-repeat;
    background-attachment: fixed;
     
}

.weatherform{
    margin: 20px;
    text-align: center;
    margin-top: 50px;
    
}
.weatherform input[type="text"]{
     font-size: 1.5rem;
     width: 50%;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 6px;
        border: 2px solid hsl(0, 0%, 26%);
    
}
.weatherform button[type="submit"]{
    font-size: 1.5rem;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: hsl(120, 100%, 25%);
    color: white;
    border: none;
    border-radius: 6px;
    
}
button[type="submit"]:hover{
    background-color: hsl(120, 100%, 20%);
}

#weatherResult{
    margin: 2px;
    text-align: center;
    font-size: 1.5rem;
    color: hsl(0, 0%, 10%);
    font-weight: bold;
    padding: 10px;
    align-content: space-evenly;
    
}
#weathericon{
    font-size: 7rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#temperature{
    font-size: 3rem;
    font-weight: bold;
    
}

#description{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
